<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="container">
		<a type="button" class="btn btn-primary mt-2" href="categoria/create">Criar categoria</a>
		<a type="button" class="btn btn-primary mt-2" href="/">Voltar</a>
		
		<table>
		<thead>
			<th>Id</th>
			<th>Descricao</th>
		</thead>
		<tbody>
			<tr th:each="categoria : ${listCategs}">
				<td th:text="${categoria.getId()}"></td>
				<td th:text="${categoria.getDescricao()}"></td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
</html>